<h1>Home</h1>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/user"><i class="fas fa-comments-dollar"></i> My Expenses</a>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span><i class="fas fa-coins"></i> User</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" rel="nofollow" data-method="get" href="/users/new">
              <span data-feather="file-text"></span>
              <i class="fas fa-user-plus"></i> Sign Up
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>

      <div class="mx-auto" style="width: 450px;">
      <div class='form-content'>
        <h2>Login</h2>

        <% if flash[:error] %>
          <strong><%= flash[:error] %></strong>
          <br> <br>
        <% end %>

        <%= form_tag login_path do %>

          <%= label_tag :email %>
          <%= email_field_tag :email, nil %>
          <br>
          <%= label_tag :password %>
          <%= password_field_tag :password, nil %>
          <br><br>
          <button type="submit" name="commit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Sign In</button>      
          <% end %>
          </div>
          </div>
    </main>
  </div>
</div>
