<h1>Home</h1>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/user"><i class="fas fa-comments-dollar"></i> My Expenses</a>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/user">
              <span data-feather="home"></span>
              <i class="fas fa-chart-line"></i> Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span><i class="fas fa-coins"></i> Expenses</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/expenses/new" data-toggle="modal" data-target="#exampleModalLive">
              <span data-feather="file-text"></span>
              <i class="fas fa-plus"></i> Add
            </a>
          </li>
        </ul>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/expenses" data-toggle="modal" data-target="#exampleModalLive">
              <span data-feather="file-text"></span>
              <i class="far fa-edit"></i> Edit Expenses
            </a>
          </li>
        </ul>
        <br>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span><i class="fas fa-cogs"></i> Settings</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/categories/new" data-toggle="modal" data-target="#exampleModalLive">
              <span data-feather="file-text"></span>
              <i class="fas fa-plus"></i> Add Category
            </a>
          </li>
        </ul>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/categories/" data-toggle="modal" data-target="#exampleModalLive">
              <span data-feather="file-text"></span>
              <i class="far fa-edit"></i> Edit Categories
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span><i class="fas fa-user"></i> User</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href='/users/<%=@current_user.id.to_s%>/edit' data-toggle="modal" data-target="#exampleModalLive">
              <span data-feather="file-text"></span>
              <i class="far fa-edit"></i> Change password
            </a>
          </li>
        </ul>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" rel="nofollow" data-method="delete" href="/login">
              <span data-feather="file-text"></span>
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </nav>
    
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"> <%= @current_user.name %>'s Categories</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>

      <div class="show-error">
      <% if flash[:error] %>
        <strong>
        <%= flash[:error]%>
        </strong>
        <br> <br>
      <% end %>
      <% if flash[:errors] %>
        <strong>
        <% flash[:errors].each do |f| %>
          <%= f %>
          <br>
        <%end%>
        </strong>
        <br> <br>
      <% end %>
      </div>
                
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th><i class="fas fa-receipt"></i> Name</th>
              <th> <i class="far fa-edit"></i> Edit/Delete</th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><i class="fas fa-receipt"></i> <%= category.name %></td>
                <td><a href="/categories/<%=category.id.to_s%>/edit" ><i class="far fa-edit"></i></a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>


